
:root {
  /* primary colors */
  --Bright-Blue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  /* light theme */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  /* Dark theme */
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}
.background {
  height: 100vh;
}
.background-dark {
  background-color: var(--Very-Dark-Blue);
}
.background-light {
  background-color: var(--Very-Light-Gray);
}
.wrapper {
  height: 50vh;
}
.headerbg-dark {
  background-image: url('./assets/bg-desktop-dark.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.headerbg-light {
  background-image: url('./assets/bg-desktop-light.jpg');
  background-position: top center ;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-wrapper {
  padding-top: 50px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

