:root {
    /* primary colors */
    --Bright-Blue: hsl(220, 98%, 61%);
    --CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  
    /* light theme */
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
  
    /* Dark theme */
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
  }

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
    width: 40vw;
}
.dark-input {
    background-color: var(--Very-Dark-Desaturated-Blue);
    color: var(--Light-Grayish-Blue);
}
.todo-input {
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
}

.todo-list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    padding-top: 0;
    width: 40vw;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.todo-list {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    
}
.dark-list {
    background-color: var(--Very-Dark-Desaturated-Blue);
    color: white;
}

.todo-category button.active-tab {
    color: blue;
}

.todo-settings {
    padding-inline: 10px;
    width: 95%;
    display: flex;
    justify-content: space-between;

}
.todo-category {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dark-category button {
    color: white;
}
/* .todo-list li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.todo-list li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} */

.todo-single {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid var(--Dark-Grayish-Blue);
    padding: 20px;
}
.todo-main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-single li {
    margin-left: 20px;
}
.todo-single .icon{
    font-size: 20px;
    background-image: linear-gradient( hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    
}

.completed-list {
    text-decoration: line-through;
    color: grey;
}
.trash {
    
}
.dark-trash {
    color: white;
}
@media screen and (max-width: 768px) {
    .form-wrapper {
        width: 80vw;
    }
    .todo-list-wrapper {
        width: 80vw;
    }
}